@page "/"
@using Services.Trakt
@using TraktNet.Objects.Get.Shows
@using TraktNet.Objects.Get.Movies
@inject ITraktService traktService

<h1>Dashboard</h1>
<h2 style="margin-top: 2em;">Trending Shows</h2>

@if (trendingShows != null)
{
    <div class="d-inline-flex flex-wrap">
        @foreach (ITraktTrendingShow show in trendingShows)
        {
            <div class="card bg-light m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@show.Title</h5>
                    <p class="card-text">
                        @if (show.Overview.Length > 60)
                        {
                            @(show.Overview.Substring(0, 60) + "...")
                        }
                        else
                        {
                            @show.Overview
                        }
                    </p>
                    <a href="/shows/@(show.Ids.Slug)" class="card-link">More ...</a>
                </div>
            </div>
        }
    </div>
}

<h2 style="margin-top: 2em;">Trending Movies</h2>

@if (trendingMovies != null)
{
    <div class="d-inline-flex flex-wrap">
        @foreach (ITraktTrendingMovie movie in trendingMovies)
        {
            <div class="card bg-light m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">
                        @if (movie.Overview.Length > 60)
                        {
                            @(movie.Overview.Substring(0, 60) + "...")
                        }
                        else
                        {
                            @movie.Overview
                        }
                    </p>
                    <a href="/shows/@(movie.Ids.Slug)" class="card-link">More ...</a>
                </div>
            </div>
        }
    </div>
}

@code {
    List<ITraktTrendingShow> trendingShows;
    List<ITraktTrendingMovie> trendingMovies;

    protected override async Task OnInitializedAsync()
    {
        trendingShows = await traktService.GetTrendingShowsAsync();
        trendingMovies = await traktService.GetTrendingMoviesAsync();
    }
}
